{% extends 'food/base.html'%}
{% block body %}

        {% for i in item_list %}
        <div class="row">

            <div class="col-md-3 offset-md-2"> 
                <img class="card" height="150px" src="{{ i.item_image }}" alt="">
            </div>

            <div class="col-md-4">
                <h3>{{i.item_name}}</h3>
                <h5>{{i.item_desc}}</h5>
                <h6>${{i.item_price}}</h6>
                <h6>{{i.user_name}}</h6>
            </div>

            <div class="col-md-2">

                <a href="{% url 'food:detail' i.id%}" class="btn btn-success">Details</a>
<!--
<a href="/food/{{i.id}}"Details</a> above is alter method to handle above code
food:detail app_name is define as food in url.py so only acess url.py of food 
app and url pattern name as 'detail' it will call the respected view function
stored the value of route for read about NAMESPACING
-->
            </div>
        </div>
        {% endfor%}

{% endblock %}